.Card{
	display: flex;
	justify-content: center;
	align-items: center;


	&__img{
		display: block;
		margin-right: auto;
		width: 150px;
		object-fit: cover;
		filter: drop-shadow(5px 5px 10px #000000);
		margin-bottom: 20px;
		margin-top: 20px;
		margin-left: auto;
	}
	
	&__text{
		width: 70%;
		padding: 20px;
		font-weight: 500;
		font-size: 14px;
		font-family: "Montserrat", sans-serif;
		&__description{
			margin-top: 15px;
			padding: 5px;
			border: 1px solid rgb(206, 206, 206)
		}
	}
}